@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* navbar css */
.nav-title-color {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.nav-title-style {
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

nav {
    width: 100vw;

    padding: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}


.nav-ancor {
    display: flex;
    gap: 40px;
    align-items: center;

}

.nav-ancor li {
    list-style: none;
}

.nav-ancor a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.nav-ancor div {
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);

    gap: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}




/* banner */

.banner-container {
    margin: 0 auto;
    display: flex;
    gap: 60px;
    background: #FFF;
}

.banner-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('./images/Group\ 14.png');
    background-size: 100%;
}

.banner-text-box {
    width: 70%;
    margin-left: 240px;
    line-height: 35px;
    overflow: unset;
}




.banner-text h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;

}


.font-color-primary {
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-primary {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
    border: none;
    color: white;

}

.btn-blue {
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;

}

.primary-font {
    font-size: 15px;
    color: #534C64;
    font-weight: 500;
}

/* banner */

/* main */

.card-container {
    max-width: 100%;
    margin: 0 auto;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

main h1 {
    font-size: 48px;
    text-align: center;
    margin-top: 100px;
    line-height: 10px;
}

main>p {
    text-align: center;
}

.font {
    font-size: 48px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card {
    width: 345px;
    height: 470px;
    text-align: center;
    margin-top: 30px;
}

.card>img {
    width: 300px;
    height: 450px;
    border-radius: 10px;
    object-fit: cover;
}

.card>p {
    flex-wrap: wrap;
}

/* play container */
.play-container {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

.play-text {
    width: 45%;
    padding:50px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.play-text > p{
    font-size: 14px;
    text-align: right;
}
.play-container-title {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.small-img {
    width: 250px;
    height: 350px;
    margin-top: -200px;
    border-radius: 10px;
}

.big-img {
    margin-left: 100px;
}

/* play container */

/* main */

/* responsive */
/* for tablet */
@media screen and (max-width:992px) {
    nav {
        width: 100%
    }

    .navbar {
        flex-direction: column;

    }

    .nav-ancor {
        margin-top: 20px;
    }

    .banner-container ,.play-container{
        flex-direction: column;
    }

    .banner-text {
        width: 100%;
        padding: 40px;



    }

    .banner-photo img {
        width: 100%;

    }

    .card-container {
        max-width: 100%;

        grid-template-columns: repeat(2, 1fr);
    }

    .card {


        width: 100%;

    }
    .play-text {
        width: 100%;
        line-height: 20px;
       align-items: center;
    
    
    }
    .play-container-title{
        text-align: center;
    }
    .play-text > p{
       
        text-align: center;
    }
   





}

/* for mobile */
@media screen and (max-width:576px) {
    nav {
        width: 100%;
        padding: 5px;
    }

    .navbar {
        flex-direction: column;
    }

    .nav-ancor {
        flex-direction: column;
        margin-top: 50px;
    }

    .banner-container {
        flex-direction:
            column;
    }

    .banner-text {
        width: 100%;
        align-items: center;
        padding: 19px;


    }

    .banner-photo img {
        width: 100%;

    }


    .banner-text-box {
        margin-left: 50px;
        width: 100%;
        object-fit: cover;
    }

    .font-color-primary {
        font-size: 75px;

    }

    .card-container {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        width: 80%;

    }

    main h1 {
        font-size: 20px;
    }

    .font {
        font-size: 20px;

    }
    .play-container {
        flex-direction: column;
    }
    
    .play-text {
        width: 100%;
        line-height: 20px;
       align-items: center;
    
    
    }
    .play-container-title{
        text-align: center;
    }
    .play-text > p{
       
        text-align: center;
    }
   
    
    
    
    .big-img {
        width: 350px;
        margin-left: 50px;
    }
    .small-img{
        width: 100px;
        height: 100px;
    }
    


}